%h1 Please enter the email of the loan officer below:

%form{ :action => "", :method => "post"}
  %fieldset
    %label{:for => "email"} Email:
    %input{:type => "text", :name => "email", :class => "text"}
    
  %input{:type => "submit", :value => "Submit", :class => "button"}