<head> <link rel="stylesheet" type="text/css" href="skeleton.css"> </head>

<div class="container"> 
  <div class="row">
    <h4>We've created a shared folder for you on <a href="https://www.box.com/">box.com</a>!</h4>
  </div>
  <div class="eight columns offset-by-two">
    <p align="center"> 
      <br>You can access the folder here:</br>
      <br><a href=<%= @shared_link_url %>><%= @shared_link_url %></a></br>
      </br>
      <br>Please upload your loan application documents to this folder. Your loan officer will be notified of the upload.</br>
    </p>
  </div>
</div>