<head> <link rel="stylesheet" type="text/css" href="skeleton.css"> </head>

<div class="container"> 
  <div class="eight columns offset-by-two">
    <h2>HSBC Loan Application System</h2>
    <h5>A simple, secure way to submit your application to your HSBC loan officer</h5> 
    <form method="post">

      <div class="row">
        <div class="six columns">
          <label for="first_name">First Name:</label>
          <input class="u-full-width text" name="first_name" type="text"></input>
        </div>
        <div class="six columns">
          <label for="name">Last Name:</label>
          <input class="u-full-width text" name="last_name" type="text"></input>
        </div>
      </div>

      <div class="row">
        <label for="client_email">Your Email:</label>
        <input class="u-full-width text" name="client_email" type="text"></input>
      </div>

      <div class="row">
        <label for="loan_officer_email">Loan Officer Email:</label>
        <input class="u-full-width text" name="loan_officer_email" type="text"></input>
      </div>
          
      <input class="button-primary" type="submit" value="Submit"></input>
    </form>
  </div>
</div>