%h1 HSBC Loan Application System

%h2 Please enter your name and email and loan officer's email below:

%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %label{:for => "first_name"} First Name:
      %input{:type => "text", :name => "first_name", :class => "text"}
    %ol
      %label{:for => "name"} Last Name:
      %input{:type => "text", :name => "last_name", :class => "text"}
    %ol
      %label{:for => "client_email"} Client Email:
      %input{:type => "text", :name => "client_email", :class => "text"}
    %ol 
      %label{:for => "loan_officer_email"} Loan Officer Email:
      %input{:type => "text", :name => "loan_officer_email", :class => "text"}
  
  %input{:type => "submit", :value => "Submit", :class => "button"}